@font-face {
  font-family: 'bebas_neueregular';
  src: url('../fonts/bebasneue-regular-webfont.woff2') format('woff2'),
       url('../fonts/bebasneue-regular-webfont.woff') format('woff'),
       url('../fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'black_diamondregular';
  src: url('../fonts/set-sail-studios-black-diamond-webfont.woff2') format('woff2'),
       url('../fonts/set-sail-studios-black-diamond-webfont.woff') format('woff'),
       url('../fonts/Set-Sail-Studios-Black-Diamond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
body {
  font-family: "bebas_neueregular";
  font-size: 1.5em;
  color: rgb(70, 70, 70);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  margin:0;
  scroll-behavior: smooth;
  scroll-padding: 20% 0 0 0;
  letter-spacing: 0.05em;
}
section{
  margin-bottom:5%;
}
/* ----------------PAGE D'ACCUEIL-------------------- */
h1 {
  font-size:5em;
  padding-bottom:8.5%;
  padding-top:2%;
  color: #c94242;
}
h2{
  font-size: 3em;
  font-family: "black_diamondregular";
  padding-bottom:4%;
  color: #c94242;
}
p{
  padding:2%;
}
a {
  color: #c94242;
}
a:hover{
  color:rgb(12, 12, 12);
  opacity: 0.7;
}
figcaption{
  font-size: 1.5em;
  color:rgb(61, 58, 58);
}
#logoo{
  opacity: 0.2;
  z-index: -1;
  margin: 4% 6%;
}
.jumbotron{
  margin: 8% 0% 0% 15%;
  font-family: 'black_diamondregular';
  font-size: 1.3em;
  padding:1%; 
  background-color: rgba(255,255,255, 0) ;
  text-align: left;
}
.button {
  font-family: "bebas_neueregular";
  background-color: #c94242;
  color: white;
  padding: 0.5% 1% 0.5% 1%;
  text-align: center;
  display: inline-block;
  font-size: 0.7em;
  margin-top: 2%;
  width:250px;
}
.button:hover{
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}
#before1{
  padding-bottom: 12%;
}
#before2{
  padding-bottom: 8%;
}
#before3{
  padding-bottom: 1%;
}
#backgroundPink{
  background-color:#DF6D6D;
}
#backgroundPink h2{
  padding-top: 10%;
  margin-bottom: 10%;
  margin-left : 17%;
}
#backgroundPink h3{
    font-family: "black_diamondregular";
    font-size: 2.2em;
    padding-bottom: 2%;
}  
#imgCouv{
  display: flex;
  transform: rotate(10deg);
}
.img-center{
  padding:10%;
  margin-left:-28%;
  margin-top: 15%;
}
#membres{
  margin: 0 15% 8% 15%;
}
figure > p{
  font-size: 0.8em;
  color: rgb(94, 93, 93);
}
.photos {
  border-radius: 50%;
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}
.photos:hover {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}
.photos:hover > .overlay {
  width:100%;
  height:100%;
  position:absolute;
  background-color:#000;
  opacity:0.5;
  border-radius:30px;
}
.fab {
  text-align: center;
  padding-left:2%;
  padding-right:2%;
}
.fab:hover {
  opacity: 0.9;
}
.fa-globe{
  padding: 0 1% 0 1%;
}
.page-footer{
  background-color:#DF6D6D;
}
.page-footer a{
  color: white;
}
.page-footer .fab{
  font-size: 2em;
  padding:0 4% 0 4%;
}
#follow{
  font-size:0.58em;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-bottom:1%;
}
.footer-copyright{
  font-size:0.6em;
  padding-top:1%;
  color: rgb(44, 24, 24);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}