@font-face {
  font-family: 'bebas_neueregular';
  src: local('BebasNeue Regular'), local('Bebas-Neue-Regular')
       url('/assets/fonts/bebasneue-regular-webfont.woff2') format('woff2'),
       url('/assets/fonts/bebasneue-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'black_diamondregular';
  src: url('/assets/fonts/set-sail-studios-black-diamond-webfont.woff2') format('woff2'),
       url('/assets/fonts/set-sail-studios-black-diamond-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
body {
  font-family: "bebas_neueregular";
  font-size: 1.3em;
  color:rgb(44, 43, 43);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  margin:0;
}
section{
  margin-bottom:7%;
}
/* ----------------PAGE D'ACCUEIL-------------------- */
h1 {
  font-size:4em;
  padding-bottom:2%;
  padding-top:2%;
}
p{
  color: rgb(70, 70, 70);
  letter-spacing: 0.1em;
}
a {
  color: rgb(201, 66, 66);
}
a:hover{
  color:rgb(26, 26, 26);
  opacity: 0.7;
}
.navbar-nav li a:hover {
  background-color: rgba(15, 107, 150, 0.3);
  border-radius: 5px;
}
.logoo{
  margin: 2% 4%;
}
.jumbotron{
  margin: 4%;
  font-family: 'black_diamondregular';
  font-size: 1.3em;
  padding:1%; 
  background-color: white;
  text-align: left;
}
.fa {
  text-align: center;
  padding-left:3%;
  padding-right:3%;
}
.fa:hover {
  opacity: 0.7;
}
.footer-copyright{
  font-size:0.8em;
  padding-top:1%;
  color: rgb(14, 13, 13);
}
#backgroundPink{
  background-color:#DF6D6D;
  position: relative;
}
#imgCouv{
  position: absolute;
  right: 0%;
  top: -25%;
  transform: rotate(10deg);
}
.img-center{
  padding:10%;
  margin-left:-28%;
}
.marginFeuper{
  margin-top:10%;
}